<% if user_signed_in? %>
  <div class="header__bar_row">
    <h1 class="grid-6_name"><a href="/books/#{current_user.id}/books">マイページ</a></h1>
  </div>
<% else %>
  <div class="grid-6">
    <div class="grid-6-login">
      <%= link_to "ログイン", new_user_session_path, class: "post" %>
    </div>
    <div class="grid-6-signin">
      <%= link_to "新規登録", new_user_registration_path, class: "post" %>
    </div>
  </div>       
<% end %>
<div class="image-content">
  <%= image_tag "book-image2.png", class:"book-image" %>
</div>