body {
  background-color: #CCFFCC;
  display: block;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  background-color: green;
  width: 100vw;
  height: 40px;
}

.footer {
  background-color: green;
  width: 100vw;
  height: 40px;
}

.image-content {
  display: flex;
  justify-content: center;
}

.book-image {
  width: 50vw;
  margin-top: 100px;
}

h3 {
  font-size: 25px;
  margin-bottom: 50px;
}

ul {
  list-style-type: disc;
}
 
li {
  padding: 0 10px 10px 10px;
  font-size: 18px;
  font-weight: bold;
  float: left;
  -webkit-writing-mode: vertical-rl;
}

.item {
  margin: 0.5vw;
  border: medium solid rgb(0, 0, 0);
  height: 190px;
  background-color: rgb(246, 253, 255);
  min-width: 0;
}

.name {
  padding: 5px;
  white-space: nowrap;
  overflow: scroll;
}

.contents-row {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.header_right {
  display: flex;
  margin: 1vw;
  width: auto;
  height: 5vw;
}

.user_nav_grid-6 {
  background-color: rgb(28, 247, 233);
  width: 120px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  line-height: 2.7;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  margin-left: 30px;
}

.user_nav_grid-5 {
  background-color: rgb(28, 247, 233);
  width: 120px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  line-height: 2.7;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  margin-left: 30px;
}

.grid-6 {
  font-size: 20px;
  display: flex;
}

.container {
  margin: 70px 50px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
  width: 400px;
}


.book-shelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
  padding: 5px;
  height: auto;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  width: 70vw;
}

.book-shelf-medium {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
  padding: 5px;
  height: 405px;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  width: 70vw;
}

.book-shelf-few {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
  padding: 5px;
  height: 405px;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  width: 70vw;
}

.book-shelf-few-bottom {
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  width: 70vw;
  height: 190px;
}

.shelf {
  width: 70vw;
  height: auto;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  word-break: break-all;
}

.shelf-few {
  width: 70vw;
  height: 200px;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  word-break: break-all;
}

.book-shelf-top {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.not-book-shelf-content {
  display: flex;
  justify-content: center;
}

.not-book-shelf {
  display: flex;

  flex-wrap: wrap;
  margin-top: 120px;
  padding: 5px;
  height: 70vh;
  background-color: #CC9966;
  border: 1px solid rgb(0, 0, 0);
  width: 70vw;
}

.shelf-top {
  width: 90vw;
  height: auto;
  background-color: #a37649;
  border: 1px solid rgb(0, 0, 0);
  word-break: break-all;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
}

.shelf-bottom {
  width: 90vw;
  height: auto;
  background-color: #a37649;
  border: 1px solid rgb(0, 0, 0);
  word-break: break-all;
  margin: 5px;
}

.content_title {
  display: block;
  margin-top: 100px;
}

.comments {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(139, 242, 242);
}

.comment-box {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}

.item-box-img {
  height: 20vh;
  width: 70vw;
  min-height: 60vh;
  background-color: #CCFFCC;
  object-fit: contain;
}

.image-content {
  display: flex;
  justify-content: center;
}

.title-content {
  display: block;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}

.genre-content {
  margin-bottom: 50px;
}

.publisher-content {
  margin-bottom: 50px;
}

.book-title-content {
  margin-bottom: 50px;
}

.click-upload {
  margin-bottom: 50px;
}

.comment-content {
  display: flex;
  justify-content: center;
}

.container-comment {
  width: 90vw;
}

.grid-6-name {
  font-size: 20px;
}